#
# see https://getakka.net/articles/configuration/akka.html for possible configuration!
#

akka{
	# You can enable asynchronous loggers creation by setting this to `true`.
	# This may be useful in cases when ActorSystem creation takes more time
	# then it should, or for whatever other reason
	logger-async-start = true

	# Log level used by the configured loggers (see "loggers") as soon
	# as they have been started; before that, see "stdout-loglevel"
	# Options: OFF, ERROR, WARNING, INFO, DEBUG
	loglevel = "DEBUG"

	# Suppresses warning about usage of the default (JSON.NET) serializer
	# which is going to be obsoleted at v1.5
	suppress-json-serializer-warning = on #disabled as of 1.3.2, given that the 1.5 timeframe is far out

	# Log level for the very basic logger activated during AkkaApplication startup
	# Options: OFF, ERROR, WARNING, INFO, DEBUG
	stdout-loglevel = "DEBUG"
	actor{
	}
}
